# Ignore the ".env" file
.env

# Ignore the ".vscode" folder
.vscode/

# Ignore everything inside the "docker" folder except for "docker-compose.yaml"
docker/*
!docker/docker-compose.yaml

# Ignore specified ansible files
ansible/ansible.log
ansible/inventory/hosts

# Ignore specified terraform files
terraform/*

# Ignore specified packer files
packer/proxmox/credentials.pkr.hcl
packer/azure
